{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "prettier/prettier": "warn"
  }
}
